html, body, main{
  box-sizing: border-box;
  display: flex;
  flex: auto;
}

html, body {
  background: #212529;
  flex: auto;
  box-sizing: content-box;
  height: 100vh;
  margin: 0;
  padding: 0;

}

body {
  align-items: center;
}

.headerbtn {
  color: #ffb4a2;
  font-size: 4em;
  background: #212529;
  border: none;
  cursor: pointer;
  height: fit-content;
  align-self: center;
}

.headerbtn:hover, .headerbtn:focus {
  text-decoration: underline;
}

main {
  color: azure;
  flex-direction: row;
  height: 200px;
  border: #6D6875;
  align-items: stretch;
}

.flex-item-1 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  line-height: 2;
  align-self: center;
  height: 160px;
}

.flex-item-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2;
  align-self: center;
  padding-left: 10px;
  height: 160px;
}

.button-vertical-rows {
  display: none;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: #212529;
  line-height: 1.5;
}

.button {
  color: #e5989b;
  width: fit-content;
  text-decoration: none;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
}

.button:hover {
  text-decoration: underline;
}

.show {display: flex;}